body {
    background-color: #D9F4FF;
    font-family: 'Inter', sans-serif;
}

header {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 16px;
}

audio {
    display: none;
}

a:link {
    color: blue;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.color0{
	color: #E8EDF3;
	stroke: #E8EDF3;
}
.color1{
	color: #E5FCC2;
	stroke: #E5FCC2;
}
.color2{
	color: #9DE0AD;
	stroke: blue;
}
.color3{
	color: #45ADA8;
	stroke: #00ff26;
}
.color4{
	color: #547980;
	stroke: #547980;
}
.color5{
	color: #594F4F;
	stroke: #594F4F;
}

.dot1, .dot3{
  fill: #D9F4FF;
  stroke: red;
}

.dot2, .dot4 {
  fill: red;
  stroke: #3b3e3f;
}

.fill-color0{
	fill: #E8EDF3;
}
.fill-color1{
	fill: #E5FCC2;
}
.fill-color2{
	fill: blue;
}
.fill-color3{
	fill: #00ff26;
}
.fill-color4{
	fill: red;
}
.fill-color5{
	fill: #594F4F;
}

.line1 {
  fill: none;
  /*stroke: midnightblue;*/
  /*stroke: rgba(0, 100, 180, 0.5);*/
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  /*stroke: rgba(205, 0, 0, 0.5);*/
  /*stroke: indianred;*/
  stroke-width: 1.5px;
}

#lines{
	position: relative;
}

#upload {
    font-weight: bold;
}

#play-btn {
    margin-right: 20px;
}

#slider_div {
    padding-top: 0;
    text-align: center;
}
#reset {
  margin-left: 20px;
  display: inline;
}
#back-home {
  margin-left: 20px;
  display: inline;
}
#waveform{
	padding-left: 75px;
	padding-right: 75px;
}

#mono {
  display: inline;
  margin-right: 20px;
}
#stereo {
  display: inline;
  margin-right: 20px;
}
#reduce-noise {
  display: inline;
  margin-right: 20px;
}
#set-zoom-time {
  display: inline;
}
#zoom-start, #zoom-end {
  width: 60px;
  margin-right: 20px;
}
#download {
  display: inline;
}

#waveform-timeline{
	padding-left: 75px;
	padding-right: 75px;
}

timeline canvas{
	left:0px;
	top:0px;
	bottom:0px;
}

#drawings{
    display: block;
    position: relative;
    height: 225px;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 75px;
    text-align: left;
  }

#textgrid-overflow {
	position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: initial;
  overflow: hidden;
}
#chart{
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: initial;
    overflow: hidden;
  }
  
  #chart svg{
    /*position: absolute;*/
    z-index: 1;
    overflow:hidden;
    float:left;
  }
  
  #axis{
      position: absolute;
      overflow:visible;
      z-index: 1;
  }
    
